:root {
    /*--blue: #184FA8;*/
    --primary: #1c35a8;
    --primary-rgb: 28, 53, 168;
    --primary-dark: #03136b;
    --accent: #fff;
    --accent-dark: #aaa;
    /*--red: #EF0600;*/
    /*--danger: #EF0600;*/
    /*--yellow: #EFD25A;*/
    /*--warning: #EFD25A;*/
    /*--green: #00A651;*/
    /*--success: #00A651;*/
    /*--dark: #2B2B2B;*/
    /*--grey-dark: #2B2B2B;*/
}

::-moz-selection { /* Code for Firefox */
    color: var(--accent);
    background: var(--primary);
}

::selection {
    color: var(--accent);
    background: var(--primary);
}

.select2-container--default .select2-dropdown .select2-search__field:focus,
.select2-container--default .select2-search--inline .select2-search__field:focus,
.select2-container--default.select2-container--open .select2-selection--single,
.select2-container--default.select2-container--focus .select2-selection--multiple,
.select2-container--default.select2-container--focus .select2-selection--single,
.form-control:focus {
    border-color: var(--primary);
}

body {
    min-width: 19em;
}

body, .uppy-Root {
    /*font-family: var(--font-family-sans-serif);*/
    font-family: 'Montserrat', sans-serif !important;
}

table.table-bordered.dataTable th {
    text-transform: capitalize;
}

.nav-pills .nav-link:not(.active):hover,
a, a.page-link {
    color: var(--primary);
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: var(--primary);
}

a:hover, a.page-link:hover {
    color: var(--primary-dark);
}

.ck-editor__editable {
    min-height: 32rem;
}

.card-dark:not(.card-outline) > .card-header {
    background-color: var(--dark);
}

.card-dark:not(.card-outline) > .card-header,
.card-dark:not(.card-outline) > .card-header a {
    color: #fff;
}

.dropdown-item.active,
.dropdown-item:active,
.bg-primary {
    background-color: var(--primary-dark) !important;
}

.text-primary {
    color: var(--primary-dark) !important;
}

a.text-primary:hover,
a.text-primary:focus {
    color: var(--primary) !important;
}

.text-primary-dark {
    color: var(--primary-dark) !important;
}

a.text-primary-dark:hover {
    color: var(--primary) !important;
}

.d-unset {
    display: unset;
}

.fancytree-container {
    outline: none;
}

.btn:not(:disabled):not(.disabled).active, .btn:not(:disabled):not(.disabled):active {
    box-shadow: none !important;
}

.btn-primary.focus, .btn-primary:focus,
.btn-primary:not(:disabled):not(.disabled).active,
.btn-primary:not(:disabled):not(.disabled):active,
.show > .btn-primary.dropdown-toggle {
    background-color: var(--white);
    border-color: var(--primary-dark);
    color: var(--primary-dark);
}

.select2-container--default .select2-results__option--highlighted[aria-selected],
.select2-container--default .select2-results__option--highlighted[aria-selected]:hover {
    background-color: var(--primary-dark) !important;
}

.treejs .treejs-node__halfchecked > .treejs-checkbox:before {
    background-color: var(--primary-dark) !important;
    border-color: var(--primary-dark) !important;
}

.treejs .treejs-node__checked > .treejs-checkbox:before {
    background-color: var(--primary-dark) !important;
    border-color: var(--primary-dark) !important;
}

.card-primary.card-outline-tabs > .card-header a.active {
    border-top-color: var(--primary);
    color: var(--dark);
}

.card.card-outline-tabs .card-header a {
    color: var(--primary);
}

.icheck-primary > input:first-child:checked + input[type=hidden] + label::before,
.icheck-primary > input:first-child:checked + label::before {
    background-color: var(--primary);
    border-color: var(--primary);
}

.icheck-primary > input:first-child:not(:checked):not(:disabled):hover + input[type=hidden] + label::before,
.icheck-primary > input:first-child:not(:checked):not(:disabled):hover + label::before {
    border-color: var(--primary);
}

[class*=icheck-] > input:first-child:checked + input[type=hidden] + label::after,
[class*=icheck-] > input:first-child:checked + label::after {
    border-color: var(--white);
}

.filepond--credits {
    display: none;
}

.pace .pace-progress {
    background: var(--primary-dark) !important;
}

.fancybox-progress {
    background: var(--primary-dark);
}

.fancybox-thumbs__list a:before {
    border-color: var(--primary-dark);
}

.form-group textarea {
    height: 12em;
    max-height: 32em;
}

.content-wrapper {
    overflow: hidden;
}

.navbar-nav > .user-menu > .dropdown-menu > li.user-header {
    height: unset;
}

.brand-link .font-weight-light {
    font-weight: 700 !important;
}

.image-area {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-area img {
    height: auto;
    width: auto;
    background-color: #DDD;
}

.gallery.action-btn {
    position: absolute;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: flex-end;
}

.remove-image, .featured-image, .captioning-image {
    color: #fff;
    background-color: #5a6268;
    border-color: #545b62;
    background-color: rgba(0, 0, 0, .3);
    border-color: rgba(0, 0, 0, .3);
    box-shadow: none;
    padding: 2px 10px 2px;
    font-size: .8rem;
}

.remove-image:hover, .remove-image:active {
    background-color: var(--red);
    border-color: var(--red);
    color: #fff;
}

.captioning-image:hover, .captioning-image:active {
    color: #fff;
    background-color: var(--green);
    border-color: var(--green);
}

.featured-image:hover, .featured-image:active {
    color: #fff;
    background-color: var(--yellow);
    border-color: var(--yellow);
}

a.uppy-Dashboard-poweredBy {
    display: none;
}

.slick-next::before, .slick-prev::before {
    color: var(--dark);
}

.btn-group {
    border-radius: .25rem;
}

.brand-image.img-circle.elevation-3 {
    box-shadow: unset !important;
}

.img-circle {
    border-radius: unset;
}

.navbar-nav > .user-menu > .dropdown-menu > .user-footer {
    display: flex;
    justify-content: space-between;
}

.navbar-nav > .user-menu > .dropdown-menu > .user-footer::after {
    display: unset;
    clear: unset;
    content: unset;
}

option:disabled {
    background: var(--dark);
    color: #fff;
}

#image-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#image-list li {
    margin: 0 1rem 1rem 0;
    display: inline-block;
}

#image-list li img {
    width: 256px;
    height: auto;
    cursor: grab;
}

#image-list li img:active {
    cursor: grabbing;
}

.tagify__tag:not([readonly]) div::before {
    box-shadow: 0 0 0 var(--tag-inset-shadow-size, 1.1em) var(--primary) inset;
}

.tagify__tag:hover:not([readonly]) div::before {
    box-shadow: 0 0 0 var(--tag-inset-shadow-size, 1.1em) var(--primary-dark) inset;
}

.tagify__tag__removeBtn:hover + div::before {
    box-shadow: 0 0 0 var(--tag-inset-shadow-size, 1.1em) #970014 inset !important;
}

.tagify__tag__removeBtn {
    color: #fff;
}

.tagify__tag__removeBtn:hover {
    background: var(--red);
}

.select2-selection__choice__remove:hover + .select2-selection__choice {
    background-color: var(--red);
    border-color: var(--red);
}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
    background-color: var(--primary);
    border-color: var(--primary);
}

.tagify {
    --tag--max-width: 250px;
    width: 100%;
    height: unset;
    line-height: initial;
}

/*enables text trim*/
.tagify .tagify__tag-text {
    color: #fff;
    white-space: nowrap;
}

.tagify .tagify__tag-text[contenteditable] {
    color: var(--dark);
}

.tagify[readonly] .tagify__tag-text {
    color: var(--dark);
}

.card-primary.card-outline {
    border: none;
}

.page-item.active .page-link {
    background-color: var(--primary);
    border-color: var(--primary);
}

.uppy-size--md .uppy-Dashboard-inner {
    min-width: 100%;
    min-height: 384px;
}

/*.wrapper:before {*/
/*    content: "";*/
/*    position: absolute;*/
/*    z-index: -1;*/
/*    background: url("../../../web/dist/images/home-header.jpg") no-repeat;*/
/*    background-size: cover;*/
/*    height: 100%;*/
/*    width: 100%;*/
/*}*/

aside.main-sidebar.sidebar-dark-primary {
    background-color: var(--primary-dark);
    box-shadow: 0 0 25px rgba(0, 0, 0, .5);
    color: white !important;
}

[class*=sidebar-dark-] .nav-header,
[class*=sidebar-dark-] .sidebar a {
    color: white !important;
}

[class*=sidebar-dark-] .sidebar a.nav-link.active {
    color: var(--primary) !important;
}

[class*="sidebar-dark-"], .navbar-dark {
    background: linear-gradient(90deg, #03136b, #0d1e7f, #162993, #1c35a8, #2241be);
}

.login-page, .register-page {
    background-size: cover;
}

.login-page:before, .register-page:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(3px);
    background: linear-gradient(90deg, #03136b, #0d1e7f, #162993, #1c35a8, #2241be);
}

.login-box .card {
    color: var(--primary) !important;
}

.login-box .card a:hover {
    color: var(--primary-dark) !important;
}

[class*="sidebar-dark"] .brand-link {
    border: none;
    background-color: #fff;
    color: var(--primary-dark);
    border-bottom: 1px solid rgba(0, 0, 0, .1);
}

.sidebar-mini.sidebar-collapse.layout-fixed .brand-link {
    width: unset;
}

[class*="sidebar-dark"] .brand-link:hover {
    /*color: var(--primary);*/
}

[class*="sidebar-dark"] .brand-link:hover img {
    opacity: 1 !important;
}

[class*=sidebar-dark-] .nav-sidebar > .nav-item.menu-open > .nav-link,
[class*=sidebar-dark-] .nav-sidebar > .nav-item:hover > .nav-link,
[class*=sidebar-dark-] .nav-sidebar > .nav-item > .nav-link:focus {
    background-color: rgba(255, 255, 255, .1);
    color: #fff;
}

.sidebar-dark-primary .nav-sidebar > .nav-item > .nav-link.active,
.sidebar-light-primary .nav-sidebar > .nav-item > .nav-link.active {
    color: var(--primary) !important;
    background-color: var(--white);
}

.btn-primary {
    background-color: var(--primary-dark);
    border-color: var(--primary-dark);
}

.btn-primary:hover {
    background-color: var(--primary);
    border-color: var(--primary);
    color: var(--white);
}

@media (min-width: 992px) {
    .sidebar-mini.sidebar-collapse .main-sidebar,
    .sidebar-mini.sidebar-collapse .main-sidebar::before {
        margin-left: 0;
        width: 5.6rem;
    }

    .sidebar-mini.sidebar-collapse .content-wrapper,
    .sidebar-mini.sidebar-collapse .main-footer,
    .sidebar-mini.sidebar-collapse .main-header {
        margin-left: 5.6rem !important;
    }
}

.bootstrap-datetimepicker-widget table td span.active,
.bootstrap-datetimepicker-widget table td.active,
.bootstrap-datetimepicker-widget table td.active:hover {
    background-color: var(--primary);
}
